<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Add news</title>
</head>
<body>
<h2>Добавить новость</h2>
<form method="post" enctype="multipart/form-data">
    <table class="table_registrationform">
        <tr>
            <td><label for="title"> Заголовок:</label><br></td>
            </td>
            <td><input type="text" size="50" type="text" size="50" id="title" name="title" placeholder="Заголовок"/> </td>
        </tr>
        <tr>
            <td><label for="newscontent">Текст:</label><br></td>
            <td><input id="newscontent" type="text" size="50" name="newscontent"  placeholder="Введите текст"/>
            </td>
        </tr>
        <tr>
            <td colspan="2">  <input type="submit" value="Добавить" >
                <input type="reset" value="add"></td>
        </tr>
    </table>
</form>
<a href="./index.php">Переход на главную</a>
</body>
</html>